@tailwind utilities;
@tailwind components;
@tailwind base;

:root {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

a {
  font-weight: 500;
}
